@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

body {
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Sawarabi Gothic,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
    overflow: hidden;
}

.m1l-2-c {
	font-size: 3.2vh;
	position: absolute;
	bottom: 5%;
	left: 18%;
    margin-left: 0.83%;
}

.m1l-2 {
	position: absolute;
	bottom: 5%;
	left: 18%;
}